@import '~antd/lib/style/themes/default.less';

.list {
  background: @component-background;
}

.banners {
  height: 250px;
  background: #fff;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    font-size: 48px;
  }
  .sub_title {
    font-weight: 700;
    font-size: 24px;
  }
}

.type_box {
  padding: 25px;
  text-align: center;
  :global {
    .ant-radio-button-wrapper {
      padding: 0 35px;
    }
  }
}

.pay_method {
  padding-right: 8px;

}

.table_tool {
  text-align: right;
  margin: 10px 0;

  .search_box {
    background: @component-background;
    display: inline-block;
    max-width: 450px;
    border: 1px solid @border-color-base;
    padding: 6px 8px;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
      border-color:  @primary-color ;
    }
  }

}
